@model IEnumerable<MaintinfoBo.BonSortie>

@{
    ViewBag.Title = "Liste des Bon de Sorties";
}

<h2>Liste des Bon de Sorties</h2>

<p>
    @Html.ActionLink("Créer un Bon de sortie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.DepanneurID)*@
            @Html.DisplayName("Dépanneur")
        </th>
        <th>
            @Html.DisplayName("Article sortie")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDemande)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeDepanneur.NomDepanneur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleSortie.NomArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDemande)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.BonSortieID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BonSortieID }) 
            @*@Html.ActionLink("Supprimer", "Delete", new { id = item.BonSortieID })*@
        </td>
    </tr>
    
        }

</table>
