@model IEnumerable<MaintinfoBo.BonSortie>

@{
    ViewBag.Title = "Liste des Bon de Sorties";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.DepanneurID)*@
            @Html.DisplayName("Dépanneur")
        </th>
        <th>
            @Html.DisplayName("Article sortie")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDemande)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeDepanneur.NomDepanneur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleSortie.NomArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDemande)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    
        }

</table>
