@model IEnumerable<MaintinfoBo.Article>

@{
    ViewBag.Title = "Liste des Articles";
}

<h2>Liste des Articles</h2>
<div>
    @using (Html.BeginForm("Index", "Article", FormMethod.Get))
    {
        @Html.TextBox("Recherche")
        <input type="submit" value="Rechercher" />
    }

</div>
<p>
    @Html.ActionLink("Créer un nouvel article", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nom de l'article")
            @*@Html.DisplayNameFor(model => model.NomArticle)*@
        </th>
        <th>
            @Html.DisplayName("Quantité disponible")
            @*@Html.DisplayNameFor(model => model.QuantiteArticle)*@
        </th>
        <th>
            @Html.DisplayName("Seuil Minimal")
            @*@Html.DisplayNameFor(model => model.SeuilMinimal)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantiteArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeuilMinimal)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ArticleID }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.ArticleID }) |*@
            @*@Html.ActionLink("Supprimer", "Delete", new { id=item.ArticleID })*@
        </td>
    </tr>
}

</table>
